USE [master]
GO
/****** Object:  Database [library DB]    Script Date: 04/05/2026 01:00:16 ******/
CREATE DATABASE [library DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\library DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\library DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library DB]
GO
/****** Object:  Table [dbo].[Access]    Script Date: 04/05/2026 01:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Access](
	[ID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[BookCode] [int] NOT NULL,
 CONSTRAINT [PK_Access] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 04/05/2026 01:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[BookCode] [int] NOT NULL,
	[Titel] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[StudentID] [int] NOT NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Librarian]    Script Date: 04/05/2026 01:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Librarian](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Librarian] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 04/05/2026 01:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Access] ([ID], [StudentID], [BookCode]) VALUES (5, 1081, 4887)
INSERT [dbo].[Access] ([ID], [StudentID], [BookCode]) VALUES (6, 1002, 9261)
INSERT [dbo].[Access] ([ID], [StudentID], [BookCode]) VALUES (7, 1003, 1054)
GO
INSERT [dbo].[books] ([BookCode], [Titel], [Author], [StudentID]) VALUES (1054, N' Computer Networking: A Top-Down Approach ', N'James F. Kurose, Keith W. Ross', 1003)
INSERT [dbo].[books] ([BookCode], [Titel], [Author], [StudentID]) VALUES (1128, N'The C Programming Language', N'Brian W. Kernighan, Dennis M. Ritchie', 1219)
INSERT [dbo].[books] ([BookCode], [Titel], [Author], [StudentID]) VALUES (1467, N'Modern Database Management', N'Jeffrey A. Hoffer, V. Ramesh, Heikki Topi', 1020)
GO
SET IDENTITY_INSERT [dbo].[Librarian] ON 

INSERT [dbo].[Librarian] ([AdminID], [Name]) VALUES (7, N'AHMED')
SET IDENTITY_INSERT [dbo].[Librarian] OFF
GO
INSERT [dbo].[Student] ([ID], [Name], [Department]) VALUES (1002, N'Nour', N'IT')
INSERT [dbo].[Student] ([ID], [Name], [Department]) VALUES (1003, N'Mariam', N'IT')
INSERT [dbo].[Student] ([ID], [Name], [Department]) VALUES (1004, N'Hany', N'CS')
GO
USE [master]
GO
